@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;1,400&family=Pacifico&display=swap");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/update.css");

/*font
font-family: 'Abril Fatface', cursive;
font-family: 'Merriweather', serif;
font-family: 'Pacifico', cursive;*/

body {
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
  margin: 0px;
  background-color: rgba(56.9%, 70.2%, 14.1%, 0.3);


}

h1,h2,h3{
  font-family: font-family: 'Merriweather', serif;
  font-weight: bold;

}

h1 {
   font-family: 'Pacifico', cursive;*/

}

a {
  text-decoration: none;
}

#logo {
   width: 20%;
  height: auto;
  border-radius: 80%;
}

.titlelogo {
  display: flex;
  flex-grow: 1;
  margin: 10px;
  flex-basis: 250px;
  align-items: center;
  justify-content: space-around;
}

#title {
  font-size: 60px;
}



