.btn-green {
  background-color:#143F3E ;
  padding: 15px 20px;
  border-radius: 4px;
  color:#FEFEFE ;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

.btn-green:{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}

.btn-green:hover {
  text-align: center;
  color: #9CD506;
  text-decoration: underline;
}

